$color-text: #3a3a3a;

@import "components/_color.scss";
@import "components/_variables.scss";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: #efefef;
}

body {
  color: $color-text;
}
.navbar-fixed {
  z-index: 1000;
}
.nav-header {
  height: $navbar-height;
  background: #ffffff;

  .logo-block {
    width: 300px;
    height: $navbar-height;
    float: left;
    position: relative;

    .brand-logo {
      width: 100%;
      height: 100%;
      display: block;
      text-align: center;

      img {
        max-height: 50px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  .top-panel {
    margin-left: 300px;

    a {
      text: {
        transform: uppercase;
        decoration: none;
      }
      color: $color-text;
      position: relative;
      font: {
        size: 13px;
        weight: bold;
      }
    }

    .icon {
      font-size: 22px;
      margin-right: 10px;
    }
  }
}


.user-block {
  position: absolute;
  right: 15px;
  top: 15px;
  height: $navbar-height;

  a {
    color: $color-text;
    font-size: 16px;
    text-transform: none;
    font-weight: normal;
    text-align: right;
    display: block;
    line-height: 20px;
    color: $color-text;
    margin-bottom: 10px;

    &.user-link {
      font-size: 17px;
    }

    &.user-logout {
      font-size: 13px;
    }
  }
}

.navigation {
  width: 300px;

  position: fixed;
  background: #3a3a3a;
  padding: 120px 0 0 0 ;
  overflow: auto;

  .panel {
    .panel-heading {
      padding: 0;
      font-size: 16px;
      line-height: 23px;
      position: relative;
      color: #aaaaaa;
      padding: 10px 20px;
      position: relative;

      + .panel-collapse {
        border: 0;
        position: relative;
        background: #2e2e2e;
        border-left: 4px solid $primary-color;
      }
    }
    .menu-list a {
      color: #fff;
      padding: 15px 20px 15px 60px;
      height: auto;
      line-height: 18px;
    }
  }
}

.card-panel {
  padding: 0;
}

main {
  padding: 55px 0 100px 345px;

  .container {
    margin: 0 auto;
  }

  @media #{$large-and-up} {
    &.wide-content {
      .container {
        width: auto;
        max-width: 100%;
        padding-right: 15px;
        margin: 0;
      }
    }
    .container {
      max-width: 1024px;
      margin: 0;
    }
  }




  .head-part {

    .row {
      margin-bottom: 0;
    }

    h1 {
      float: left;
    }

    .link-block {
      float: right;

      .btn {
        margin-left: 10px;
      }
    }
  }
}

.content-block {
  margin-bottom: 35px;
}

.tabs {
  margin-bottom: 20px;
}

.card-panel {
  form {
    padding: 20px;
  }
}

.card-panel-title {
  margin-bottom: 15px;
  font-size: 18px;
}

/*typography*/
h1 {
  font-size: 2rem;
  margin-top: 0;
}

dl {
  margin: 0;

  dt {
    font-size: 15px;
    display: block;
    float: left;
    width: 135px;
    padding: 12px 0px 13px 18px;
    color: #3a3a3a;
    font-weight: bold;
  }

  dd {
    font-size: 15px;
    margin-left: 140px;
    padding: 12px 5px 13px 0;
    display: block;
    border-bottom: 1px solid #e0e0e0;
    position: relative;

    &:before {
      width: 140px;
      height: 1px;
      background: #e0e0e0;
      content: "";
      position: absolute;
      left: -140px;
      bottom: -1px;
      display: block;
    }
  }

  &.half-col {
    dt {
      width: 50%;
      padding-right: 10px;
    }

    dd {
      margin-left: 50%;

      &:before {
        width: 100%;
        left: -100%;
      }
    }
  }

  &.wide-col {
    dt {
      width: 60%;
      padding-right: 10px;
    }
    dd {
      margin-left: 60%;

      &:before {
        width: 150%;
        left: -150%;
      }
    }
  }
}

table tbody td {
  border: none;
}

.material-icons {
  vertical-align: sub;
}


/*form*/
.input-field label {
  font-size: 1.2rem;
  color: $color-text;
}


a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: red;
  font-size: 32px;
  z-index: 2;
}

.menu-link {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  position: relative;

  b {
    height: 4px;
    width: 30px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    display: block;
    background: #3a3a3a;
    border-radius: 2px;

    &.line-1 {
      transition: all .2s ease-out;
      width: 30px;
      top: 20px;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    &.line-2 {
      top: 27px;
    }
    &.line-3 {
      transition: all .2s ease-out;
      width: 30px;
      top: 34px;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  &.active b {
    &.line-1 {
      transition: all .2s ease-out;
      top: 33px;
      width: 17px;
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }

    &.line-3 {
      transition: all .2s ease-out;
      top: 41px;
      width: 17px;
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
  }
}
@media #{$medium-and-down} {
  .main-part {
    padding: 80px 0;
  }

  .nav-header .top-panel {
    a {
      font-size: 0;
      padding: 0 20px;

      &.menu-link {
        width: 70px;
      }

      .icon {
        margin: 0;
      }
    }
  }
  table tbody td {
    padding: 15px 5px;
  }
}

@media #{$medium-only} {
  .nav-header .logo-block {
    width: 200px;
    float: none;
    margin: 0 auto;

  }

  .nav-header .top-panel {
    margin: 0;
    text-align: center;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;

    ul {
      display: inline-block;
      height: 80px;

      li,
      li a {
        height: 80px;
      }
    }
  }
  .menu-link {

    b {

      &.line-1 {
        top: 30px;
      }
      &.line-2 {
        top: 37px;
      }
      &.line-3 {
        top: 44px;
      }

    }
  }
}

@media #{$small-and-down} {
  .nav-header .logo-block {
    width: 200px;
    float: none;
    margin: 0 auto;

  }

  .user-block a i {
    margin-top: 10px;
    right: 15px;
  }

  .nav-header .top-panel {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;

    .menu-link {
      height: 100%;
      display: block;
      width: 50px;
      height: 80px;

      &.active {
        .line-1 {
          top: 33px;
        }

        .line-3 {
          top: 41px;
        }
      }

      .line-1 {
        top: 30px;
      }

      .line-2 {
        top: 37px;
      }

      .line-3 {
        top: 44px;
      }
    }
  }

  main .head-part .link-block {
    float: none;
    width: 100%;
    clear: both;
    margin-bottom: 30px;

    .btn {
      margin: 0 20px 0 0;
    }
  }

  .navigation {
    z-index: 999;
  }

  .logo-menu {
    background: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;

    a {
      display: block;
      height: 100%;
      width :100%;
    }
  }
}

td, th {
  padding: 15px 10px;
}

// form
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea,
.select-wrapper input.select-dropdown {
  border: 1px solid #b9b9b9;
  border-radius: 2px;
  padding: 10px;
  height: auto;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 15px;
}

.select-wrapper input.select-dropdown {
  margin-bottom: 0;
}

.select-wrapper span.caret{
  right: 15px;
  top: 13px;
  color: #9b9b9b;
}

textarea {
  min-height: 100px;
  resize: none;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom-color: #33a3fe;
  box-shadow: none;
}

.item-label {
  font-size: 17px;
  padding-bottom: 10px;
}

.form-group {
  padding-bottom: 0;
}


/*alert styles*/
/*009788*/

.alert {

}


.alert.form-msg {
  background: transparent;
  font-size: 14px;
  border: {
    bottom: 2px solid transparent;
    radius: 0;
  }
  padding-left: 0;

  .btn-close {
    opacity: 1;
    right: 0;
  }

  &.success {
    color: #009788;
    border-bottom-color: #009788;


    .btn-close {
      color: #009788;
    }
  }
}

.item-form {

  &.error {
    color: #df2a00;

    .item-input {
      border-color: #df2a00;
    }

    .msg {
      color: #df2a00;
    }
  }

}

.alert {
  &.form-msg {
    &.success,
    &.error,
    &.warning,
    &.info {
      background: transparent;
    }
  }
}

/*paginator*/
.pagination li {
  float: none;
  border: 0;
  border-radius: 0;

  &.active {
    a {
      background: none;
    }
  }
}

/*fix tabs bug*/
.tabs {
  overflow-x: hidden;

  @media #{$small-and-down} {
  overflow-x: auto;
  }
}

